doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="./css/style.css")
	body
		h1 Estamos Usando Jade
		div(style="width:50%;margin:auto;height:200px;background:red;text-align:center;")
			ul
				li 
					h1 Hola
				li 
					h1 Hola
				li 
					h1 Hola